@import "./reset.css";
@import "./fonts/fonts.css";


body {
    max-width: 1280px;
    margin: 63px auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    width: 334px;
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.logoRa {
    color: #000000;
}

.navbar {
    display: flex;
    height: 72px;
    justify-content: center;
    background-color: #35444F;
}

.navbar-link {
    padding-top: 26px;
    padding-bottom: 19px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navbar-link > a {
    color: #FFF;
}

.navbar-link:first-child {
    border-left: 1px solid white;
    flex-basis: 330px;
}

.navbar-link:nth-child(2) {
    border-left: 1px solid white;
    flex-basis: 153px;
}

.navbar-link:nth-child(3) {
    border-left: 1px solid white;
    flex-basis: 284px;
}

.navbar-link:last-child {
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex-basis: 221px;
}

.navbar-link:hover {
    background-color: #222F3A;
}

/*  main block --> */

.mainBlock {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid #000000;
}

.leftMenu-link {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.leftMenu-link > a {
    color: #485863;
}

.leftMenu-link:first-child {
    padding-top: 27px;
}

.leftMenu-link:last-child {
    padding-bottom: 30px;
}

.leftMenu-link:hover {
    background-color: #DBDBDB;
    text-align: center;
    padding-left: 0;
}

.leftMenu-link:hover a {
    color: #000000;
}

.article {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.article-img {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.article-img img {
    width: 320px;
    height: 381px;
    transition: transform 0.25s;
    overflow: hidden;
}

.article-img:hover img {
    transform: scale(1.2);
}

.article-text {
    padding-top: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* ----- footer ----- */

.footerMenu {
    display: flex;
    height: 69px;
    margin-top: 51px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
}

.footerMenu-link {
    padding-left: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footerMenu-link > a {
    color: #0C1927;
}

.footerMenu-link > a:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
}

.footerMenu-copyLeft {
    color: #010101;
    margin-left: auto;
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;
}